
.button-label {
  padding: 10px 20px;
  margin: 5px;
  background-color: #d19241; /* Color de fondo del botón */
  color: #fff; /* Color del texto */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 70%;  
  transition: background-color 0.3s ease;
}

.button-label:hover {
  background-color: #ba7d38; /* Color de fondo al pasar el ratón */
}

/* Estilos para ocultar los radios */
input[type="radio"] {
  display: none;
}

.ancla:hover{
  color: #e1a604;
}
