/* Estilos para ocultar los radios */
input[type="radio"] {
  display: none;
}

.ancla:hover{
  color: #e1a604;
}

.mi-boton {
  background-color: #c19b6fcc;
  padding: 7px 7px 1px 7px;
}

.mi-boton:hover {
  background-color: #c19b6fec;
}
