
img {
  width: 30%;
  height: auto;
}

input[type="radio"] {
  display: none; 
}

.container-circular {
  width: 200px;
  height: 200px; 
  border-radius: 50%; 
  background-color: rgba(231, 185, 101, 0.229); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.posicionlinea{
  display: inline-block; 
}

.btn{
  border-radius: 17px;
}

.mi-boton {
  border-radius: 17px;
  padding: 10px;
  padding-bottom: 3px;
}

.mi-boton:hover {
  background-color: #c19b6fd7;
  transform: translateY(2px);
}

.card{
  border-radius: 20px;
}